@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #052634;
}

.coming-soon {
  min-height: 100vh;
  color: #49a0eb;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.heading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  color: #fff;
}

.heading-link {
  color: inherit;
  text-decoration: none;
}

.heading-link:hover {
  color: #285780;
  text-shadow: none;
}

.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}

.image {
  height: 50vh;
  width: 40vh;
}
